
a{
    color: rgb(7, 31, 79);
}
.foot{
    background-color: rgb(111, 187, 204);
    border-radius: 30px;
    position:absolute;
    bottom:0;
    width:99%;
    height:50px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    }
.foot1{
    font-size: large;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;
    }
header{
    background-color: rgb(111, 187, 204);
    opacity: 0.9;
    border-radius: 30px;
    box-shadow: 6px 10px 20px rgb(15, 39, 62);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nam{
    color: rgba(189, 89, 8, 0.938);
    text-shadow: 6px 6px 10px rgb(208, 244, 245);
    width: 600px;
   margin: auto;
  
}
.nam1{
    margin-left: 70px;
}
.menu{
    background-color: rgb(139, 196, 209);
    border-radius: 20px;
    box-shadow:6px 10px 20px rgb(43, 143, 231);
    display: flex;
    justify-content:center;
    height: 100px;
    width: 1000px;
    align-items: center;
    margin: auto ;
    opacity: 0.5;
}
.menu1{
    margin-left: 50px;
    font-size: large;
    font-size: 1.5em;
    font-style: italic;
   font-weight: bold;
}
#abi{
  width:300px;
  margin: auto
}
#body{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("picture/fond.jpg");
}
#bodystuff{
    background-color:rgb(186, 183, 183);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
.login{
    color: rgba(115, 70, 29, 0.938);
    font-weight: bold;
    width : 200px;
    margin: 10px ; 
}
.video{
    opacity: 0.6;
    width: 800px;
    margin-top: 50px;
    margin-right: 50px;
    float: right;
}
.p{
    width:600px;
    border: 20px rgba(230, 124, 10, 0.843) dotted;
    border-radius: 18px;
    box-shadow: white;
    text-shadow: rgb(211, 146, 49);
    text-align: justify;
   color: rgb(59, 59, 142);
   font-style: italic;
   font-size: 30px;
   float: left;
   margin-left: 200px;
   margin-top: 100px;
}
.formstuff{
    color: white;
    font-weight: bold;
    width: 600px;
    margin: 20px;
}
#otherstaff{
    color: white;
    margin-left: 10px;
}
#IdCollab{
    border: 20px rgb(128, 46, 46);
    border-radius: 20px;
    margin: 25px;
    font-size: large;
}
#enterstuff{
    margin-left: 350px;
}
.tablestuff{
    overflow: auto;
    border: 3px solid black;
    border-collapse:collapse;
    width:90%;
    margin:auto;
}
thead{
    background-color:#D0E3FA;
    border:1px solid #6495ed;
}
tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
    }
th {
    border:1px dotted #6495ed;
    background-color:#EFF6FF;
    padding:5px;
    }
 td {
     font-size:80%;
     border:1px solid #6495ed;
     padding:5px;
     text-align:left;
     font-family:sans-serif;
    }
caption {
    margin: 60px;
    font-size: 50px;
    color: rgb(101, 139, 194);
    font-style: italic;
    font-weight: bold;
    font-family:sans-serif;
 }
a{
    color: rgb(236, 212, 28);
}
.foot{
    background-color: rgb(93, 159, 216);
    border-radius: 30px;
    position:absolute;
    bottom:0;
    width:99%;
    height:50px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    }
.foot1{
    font-size: large;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;
    }
header{
    background-color: rgb(93, 159, 216);
    opacity: 0.9;
    border-radius: 30px;
    box-shadow: 6px 10px 20px rgb(28, 76, 123);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nam{
    color: rgb(235, 238, 243);
    text-shadow: 6px 6px 10px black;
    width: 600px;
   margin: auto;
}
.nam1{
    margin-left: 70px;
}
.menu{
    background-color: rgb(220, 119, 12);
    border-radius: 20px;
    box-shadow:6px 10px 20px rgb(43, 143, 231);
    display: flex;
    justify-content:center;
    height: 100px;
    width: 1000px;
    align-items: center;
    margin: auto ;
    opacity: 0.9;
}
.menu1{
    margin-left: 50px;
    font-size: large;
    font-size: 1.5em;
    font-style: italic;
   font-weight: bold;
}
#abi{
  width:300px;
  margin: auto
}
#body{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("picture/fondecrans.jpg");
}
#bodystuff{
    background-color:rgb(186, 183, 183);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
.login{
    color: rgb(212, 228, 241);
    font-weight: bold;
    width : 200px;
    margin: 10px ; 
}
.video{
    width: 800px;
    margin-top: 100px;
    float: left;
}
.p{
    width:300px;
    border: 20px rgb(219, 221, 56) dotted;
    border-radius: 18px;
    box-shadow: white;
    text-shadow: rgb(220, 243, 71);
    text-align: justify;
   color: aliceblue;
   font-style: italic;
   font-size: 20px;
   float: right;
   margin-top: 200px;
}
.formstuff{
    color: white;
    font-weight: bold;
    width: 600px;
    margin: 20px;
}
#otherstaff{
    color: white;
    margin-left: 10px;
}
#IdCollab{
    border: 20px rgb(128, 46, 46);
    border-radius: 20px;
    margin: 25px;
    font-size: large;
}
#enterstuff{
    margin-left: 350px;
}
.tablestuff{
    overflow: auto;
    border: 3px solid black;
    border-collapse:collapse;
    width:90%;
    margin:auto;
}
thead{
    background-color:#D0E3FA;
    border:1px solid #6495ed;
}
tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
    }
th {
    border:1px dotted #6495ed;
    background-color:#EFF6FF;
    padding:5px;
    }
 td {
     font-size:80%;
     border:1px solid #6495ed;
     padding:5px;
     text-align:left;
     font-family:sans-serif;
    }
caption {
    margin: 60px;
    font-size: 50px;
    color: rgb(101, 139, 194);
    font-style: italic;
    font-weight: bold;
    font-family:sans-serif;
 }