  
@font-face {
    font-family: "Titlefont";
    src: url("./Fonts/3Dumb.ttf");
  }
  
  @font-face {
    font-family: "Websitefont";
    src: url("./Fonts/2Dumb.ttf");
  }
  
  body {
    background: url("./Pictures/fond.jpg") fixed rgba(0, 140, 255, 0.3);
    color: rgb(50, 50, 50);
    font-family: "Websitefont", sans-serif;
  }
  
  header,
  footer {
    background-color: rgba(111, 187, 204, 0.9);
    border-radius: 30px;
    box-shadow: 6px 10px 20px rgb(15, 39, 62);
    clear: both;
    opacity: 0.8;
  }
  
  #header,
  #footer {
    display: flex;
    justify-content: space-around;
  }
  
  #logo img {
    width: 300px;
    padding-top: 25px;
  }
  
  #websiteTitle {
    font-family: "Titlefont", sans-serif;
    text-align: center;
    color: rgba(189, 89, 8, 0.9);
    text-shadow: 6px 6px 10px rgb(208, 244, 245);
    width: 600px;
  }
  
  #description {
    font-family: "Websitefont", sans-serif;
    font-size: 125%;
    font-weight: bold;
  }
  
  #loginout {
    text-align: right;
    padding-top: 25px;
  }
  
  #submission {
    text-align: center;
    padding-top: 10px;
  }
  
  nav {
    background-color: rgba(111, 187, 204, 0.9);
    box-shadow: 6px 10px 20px rgb(43, 143, 231);
    margin: auto;
    margin-top: 30px;
    width: 970px;
    border-radius: 20px;
    opacity: 0.8;
  }
  
  nav ul,
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav li,
  footer li {
    margin-right: 30px;
  }
  
  nav a,
  footer a {
    color: rgb(50, 50, 50);
    text-decoration: none;
  }
  
  nav a {
    font-size: 1.3em;
  }
  
  nav a:hover,
  footer a:hover {
    color: rgba(189, 89, 8, 0.9);
    border-bottom: 3px solid rgba(189, 89, 8, 0.9);
  }
  
  input,
  select,
  textarea {
    background-color: rgba(127, 255, 212, 0.5);
    opacity: 0.8;
  }
  
  .information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  #personalInformation label {
    width: 195px;
    float: left;
  }
  
  .pictureFloat {
    float: left;
  }
  
  h2,
  h3 {
    text-align: center;
  }
  
  article {
    width: 800px;
    border: 20px rgba(230, 124, 10, 0.843) dotted;
    border-radius: 18px;
    box-shadow: white;
    text-shadow: rgb(211, 146, 49);
    text-align: justify;
    color: rgb(59, 87, 142);
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
  }
  
  #home {
    display: flex;
    padding-top: 50px;
  }
  
  .body {
    padding: 10px 0 50px 0;
  }
  

/*style css stuff list */
#bodystuff{
    width: 100%;
    margin: auto;
    background-color:rgb(186, 183, 183);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.formstuff{
    color: rgb(137, 75, 17);
     font-weight: bold;
     width: 600px;
    margin: 20px;
}
#otherstaff{
    color: rgb(22, 67, 145);
    margin-left: 10px;
 }
#IdCollab{
    border: 20 rgba(211, 127, 37, 0.755);
    border-radius: 20px;
    font-size: medium;
        
    background-color: #dd792771;
}
#enterstuff{
     color: rgb(10, 47, 93);
     font-weight: bold;
    margin-left: 300px;
    background-color: #34619d90;
    border-radius: 20px;
 }
.tablestuff{
    overflow: auto;
    border: 3px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
 }
caption {
    margin: 60px;
    color: rgb(101, 139, 194);
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 50px;
 }
 thead{
    background-color: #d0e3fa;
     border: 1px solid #6495ed;
 }
 tbody {
     background-color:#FFFFFF;
    border: 1px solid #6495ed;
}
 th {
     border: 1px dotted #6495ed;
     background-color: #eff6ff;
     padding: 5px;
}
    td{
    font-size: 80%;
    border: 1px solid #6495ed;
    padding: 5px;
    text-align: left;
    font-family: sans-serif;
 }
/*style css footer*/
footer{
    background-color: rgba(111, 187, 204, 0.9);
  border-radius: 30px;
  box-shadow: 6px 10px 20px rgb(15, 39, 62);
  clear: both;
  opacity: 0.8;
}
.foot{
    background-color: rgb(111, 187, 204);
    border-radius: 30px;
    height:50px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
}
.foot1{
    font-size: large;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-left: 100px;
}